aerdevopsserver.pem
aerdevopsrv2.pem
Aerdevopsrv2.pem
*.pem
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraformrc
terraform.rc

**/terraform/creds.tf
/terraform/ec2/creds.tf
**/terraform/ec2/creds.tf
ec2/creds.tf
terraform/creds.tf
terraform.tfstate
terraform.tfstate.backup
